<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <p class ="navbar-brand">The Four Nations</p>
      <p class="subtitle">Search For Members by their Nation</p>
    </div>
    <div class="airbender-container">
      <%= image_tag("avatar.jpg", class: "airbender") %>
    </div>
  </nav>

  <h1>Search Results for <%= params[:nation].humanize.titleize %>:</h1>

  <%  %>
  <%  %>
  <%  %>
  <%  %>
  <%  %>
  <%  %>
